*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
logs_train
vectree/pruned_distilled
vectree/output
datasets/
demo_gs/
sbatch_log/
scripts/shapenet_distribution_light_v0/
scripts/shapenet_distribution_light_v1/